* {
  margin: 0;
  padding: 0;
}

body {
  background-color: cyan;
}

header {
  background-color: #0D1B2A;
  color: whitesmoke;
  width: 100%;
  height: 22vh;
  padding: 20px;
}

.red {
  padding: 0.8rem 1.4rem;
  font-size: 1rem;
  background-color: red;
  border-radius: 10px;
  border: 1px solid black;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: lightslategray;
}

.yellow {
  padding: 0.8rem 1.4rem;
  font-size: 1rem;
  background-color: yellow;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: lightslategray;



}

.cyan {
  padding: 0.8rem 1.4rem;
  font-size: 1rem;
  background-color: cyan;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: lightslategray;



}

#box {
  background-color: blueviolet;
  width: 100%;
  height: 22vh;
}

h1 {
  color: whitesmoke;
}

